
.body {
    background-color: darkgreen;
    color: white;
}


.logo {
  padding-right: 15px;
}



.subtitulo-video {
    margin-top: 50px;
    color: white;
    
}

#titulo {
  justify-content: center;
    margin-top: 60px;
    color: white;
}

.video {
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* AGREGAR ESTILOS SERVICIOS  */

.container-servicios {
  
}


/* AGREGAR ESTILOS NUTRICION */



/* AGREGAR ESTILOS SOBRE MI */


  .form-group {
    margin-bottom: 40px;

  }


  .titulo-form {
    text-align: center;
    margin-top: 40px;
  }

  #formulario-section {
    background-image: url(../img/backgroundFormOfi.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
  }
  

  .container-call {
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    text-align: center;

  }



  .container-footer {
    padding: 30px;
  }

  @media (max-width: 526px) {
    .video {
      width: 100%;
      height: auto;
    }
  }
  