
.body {
  background-color: rgb(8, 124, 8);
  margin: 0px;
    
}


.logo {
  padding-right: 15px;
}



.subtitulo-video {
    margin-top: 50px;
    color: white;
    
}

#titulo {
  justify-content: center;
  margin-top: 60px;
  color: white;
}

.video {
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* AGREGAR ESTILOS SERVICIOS  */

.texto__informativo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  color: white;
  background-size: cover;
  height: 100vh;
}

.left {
  
  background: linear-gradient(black, white);
 
}

.left__position {
  text-align: center;
  margin-top: 200px;
  
}


.right {
  background-image: url(../img/serviciosleft.jpg);
  background-size: cover;
  background-position: center;
  
}

.image__capa {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
}


.titulo__servicios {
  margin-top: 40px;
}

.subtitulo__servicios {
  margin-top: 40px;
}

.container__servicios {
margin-top: 20px;
width: 100%;
}

.row__servicios {
  padding: 20px;
  margin-top: 60px;
  margin left: 30px;

}

.color__servicios {
  color: white;
}

/* AGREGAR ESTILOS NUTRICION */


.title__nutricion {

  justify-content: center;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 120px;
  color: white;

}

.title__contact {

  justify-content: center;
  text-align: center;
  margin-top: 120px;
  padding-bottom: 120px;
}



.carousel-inner {
  border: 2px solid black; /* Agrega un borde al carrusel */
  max-width: 600px; /* Limita el ancho máximo del carrusel */
  margin: 0 auto; /* Centra horizontalmente el carrusel */
  max-height: 400px;
  margin-bottom: 120px;
  
}
.carousel-item {
  width: 100%; /* Ajusta el tamaño de las imágenes al ancho del carrusel */
  
}


/* AGREGAR ESTILOS SOBRE MI */


/* Estilo para el contenedor y las filas */
.container__sobreJorge {
  max-width: 960px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.row__sobreJorge {
  display: flex; /* Utiliza el modelo de caja flexible */
  flex-wrap: wrap; /* Permite que las columnas se envuelvan en pantallas pequeñas */
}

/* Estilo para las columnas en pantallas grandes */

.col-4__sobreJorge {
  flex-basis: 33.33%; /* Hace que la columna ocupe 33.33% del ancho del contenedor */
  padding: 10px;

}

.col-8__sobreJorge {
  flex-basis: 66.66%; /* Hace que la columna ocupe 66.66% del ancho del contenedor */
  padding: 10px;
  
}

/* Estilo para las imágenes */
.custom-img__sobreJorge {
  width: 100%;
  height: auto;
  max-height: auto; /* Ajusta la altura máxima de las imágenes */
}

/* Media Queries para pantallas más pequeñas */





/* ESTILOS DEL CONTACTO DE FORMULARIO */


  .form-group {
    margin-bottom: 40px;

  }


  .titulo-form {
    text-align: center;
    margin-top: 40px;
  }

  #formulario-section {
    background-image: url(../img/imagebackground.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: cover;
    height: 900px;
    color: white;
  }
  

  .container-call {
    margin-top: 100px;
    margin-bottom: 100px;
    color: white
    text-align: center

  }



  .container-footer {
    padding: 30px;
  }


  @media screen and (max-width: 767px) {
    .col-4, .col-8 {
        flex-basis: 100%; /* Las columnas ocupan el 100% del ancho en pantallas pequeñas */
    }
  
    .col-4 {
        order: 2; /* Cambia el orden de la columna de imagen para que esté debajo del texto */
    }
  
    .col-8 {
        order: 1; /* Cambia el orden de la columna de texto para que esté arriba de la imagen */
    }
  
    .custom-img {
        max-height: none; /* Elimina la altura máxima de las imágenes en pantallas pequeñas */
    }
  }
  